<div th:fragment = "header">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Online Səyahət agentliyi</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/">Ana səhife</a>
            <a class="p-2 text-dark" href="/tour">Turlar</a>
            <a class="p-2 text-dark" href="/basket">Səbətim</a>
        </nav>
        <a class="btn btn-outline-primary" href="/tour/add">Admin səhifəsi</a>
    </div>
</div>