<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-3">
    <!--/*@thymesVar id="productIds" type="java.util.Map"*/-->
    <!--/*@thymesVar id="tour" type="java.security"*/-->
    <h1>Səbətim</h1>
    <div th:each="el:${myTours}">
        <div class="alert alert-info mt-5" >
            <!--/*@thymesVar id="getName" type="java.security"*/-->
            <!--/*@thymesVar id="getName" type="java.beans.JavaBean"*/-->
            <h2 th:text="${el.getName()}"></h2>
            <div style="display: flex" ;>
                <p style="padding-right: 5px">Qiymet: </p>
                <b style="padding-right: 5px" ; th:text=" ${el.getPrice()}"></b>
                <p style="padding-left: 10px">AZN </p>
            </div>

            <div style="display: flex">
                <p style="padding-right: 5px" ; th:text="${el.getBegin_date()}"></p>
                <p style="padding-right: 5px"> / </p>
                <p style="padding-right: 5px" ; th:text="${el.getEnd_date()}"></p>
            </div>
            <div style="display: flex">
                <p style="padding-right: 5px" >Status: </p>
                <p th:text="${el.getStatus()}"></p>
            </div>
            <div style="display: flex">
                <p style="padding-right: 5px" >Odəniş statusu: </p>
                <p style="padding-right: 5px" th:text="${el.getPriceStatus()}" ></p>
            </div>
           <div>
               <form th:action = "'/tour/' + ${el.getId()} + '/pay'" method="post">
                   <button type="submit" class="btn btn-primary btn-lg btn-block">Ödəniş etmək</button>
               </form>

           </div>

        </div>
    </div>
</div>


</body>
</html>