<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-3 mb-2">
    <h2>Tur elave etmek</h2>

    <form th:action="@{/logout}" method="post" style="display: flex; justify-content: right">
        <input style="background-color: #f44336; color:white" type="submit" value="Sign Out"/>
    </form>

    <div th:each="el:${tour}">
        <form class="form-signin" th:action="'/tour/' + ${el.getId()} + '/edit' " method="post">
            <h6>Turun adi</h6>
            <input type="text" th:value="${el.getName()}" name="name" class="form-control">
            <h6>Elave olunan tarix</h6>
            <input type="text" name="start_time" th:value="${el.getDate()}" class="form-control">
            <h6>Turun başlama tarixi</h6>
            <input type="text" name="start_time" th:value="${el.getBegin_date()}" class="form-control">
            <h6>Turun qutarma tarixi</h6>
            <input type="text" name="end_time" th:value="${el.getEnd_date()}" class="form-control">
            <h6>Qiymet</h6>
            <input type="number" name="price" th:value="${el.getPrice()}" class="form-control">
            <h6>Status</h6>
            <select id="stat" name="status" th:value="${el.getStatus()}">
                <option value="Activated">Activated</option>
                <option value="Cancelled">Cancelled</option>
                <option value="Expired">Expired</option>
            </select>
            <h6>Description</h6>
            <textarea name="description" th:value="${el.getDescription()}" placeholder="Description"
                      class="form-control"> </textarea>
                <button  type="submit" class="btn btn-primary btn-lg btn-block; container mt-2" style="background-color: black;color:white; ">OK
                </button>
        </form>
        <form method="post" th:action = "'/tour/' + ${el.getId()} + '/remove'">
            <button type="submit"  class="btn btn-primary btn-lg btn-block; container mt-2" style="background-color: red;color:white;">Silmek</button>
        </form>
    </div>



</div>
</body>
</html>