<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-3">
    <!--/*@thymesVar id="productIds" type="java.util.Map"*/-->
    <!--/*@thymesVar id="tours" type="java.security"*/-->
    <h1>Turlar</h1>

    <div th:each="el:${tours}">
        <div class="alert alert-info mt-5">
            <h2 th:text="${el.getName()}"></h2>
            <div style="display: flex" ;>
                <p style="padding-right: 5px">Qiymet: </p>
                <b style="padding-right: 5px" ; th:text=" ${el.getPrice()}"></b>
                <p style="padding-left: 10px">AZN </p>
            </div>

            <div style="display: flex">
                <p style="padding-right: 5px" ; th:text="${el.getBegin_date()}"></p>
                <p style="padding-right: 5px"> / </p>
                <p style="padding-right: 5px" ; th:text="${el.getEnd_date()}"></p>
            </div>
            <div style="display: flex">
                <p style="padding-right: 5px">Status: </p>
                <p th:text="${el.getStatus()}"></p>
            </div>
            <div style="display: flex">
                <p th:text="${el.getDescription()}"></p>
            </div>

            <div style="display: flex">
                <form class="form-signin" action="/tour/addBucket" method="post">
                    <input hidden="hidden" name="name" th:value="${el.getName()}">
                    <input hidden="hidden" name="add_time" th:value="${el.getDate()}">
                    <input hidden="hidden" name="start_time" th:value="${el.getBegin_date()}">
                    <input hidden="hidden" name="end_time" th:value="${el.getEnd_date()}">
                    <input hidden="hidden" name="price" th:value="${el.getPrice()}">
                    <input hidden="hidden" name="status" th:value="${el.getStatus()}">
                    <input hidden="hidden" name="description" th:value="${el.getDescription()}">
                    <button type="submit" class="btn btn-outline-dark"
                            style=padding-right:5px>Səbətə əlavə etmək</button>
                </form>
                <form th:action="'/tour/' + ${el.getId()} + '/edit'" style="padding-left: 25px" method="get">
                <button type="submit" class="btn btn-outline-warning"
                        style= padding-right:10px>Dəyişiklik etmək </button>
                </form>

            </div>
        </div>


    </div>

</div>


</body>
</html>